# SPDX-FileCopyrightText: TNG Technology Consulting GmbH <https://www.tngtech.com>
#
# SPDX-License-Identifier: Apache-2.0

name: Build and E2E Test

on:
  push:
    branches:
      - main
      - 'renovate/*'
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    if: |
      !(github.event_name == 'pull_request' && startsWith(github.head_ref, 'renovate/'))
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.14']

    steps:
      - uses: actions/checkout@v6

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install the project
        run: uv sync --locked

      - name: Run build script with --onedir option
        run: uv run python build.py opossum-file-cli --onedir

      - name: Test single dir executable
        run: time dist/opossum-file-cli/opossum-file-cli generate --scan-code-json tests/data/scancode_input.json && test -s "output.opossum" || exit 1

      - name: Run build script with --onefile option
        run: uv run python build.py opossum-file --onefile
      
      - name: Test single file executable
        run: time dist/opossum-file generate --scan-code-json tests/data/scancode_input.json && test -s "output.opossum" || exit 1
